ul { 
list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAMAAAA8JaR5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFbrsfAAAA+PSpKQAAAAJ0Uk5T/wDltzBKAAAAFklEQVR42mJgZGBgYGRAIUEAmQQIMAABTQAWE7gW9wAAAABJRU5ErkJggg%3D%3D);
}



body
      {
      background: #eeffed;
      color: #000000
      font-family:arial;
      }

a{
color:#57068c;
}

a.visited{
color:#57068c;
}


strong{
color:#57068c;
}